<!DOCTYPE html>
<html>
<head>
	<title>Add Data to Blockchain</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
 <body>
     

    <div class ="navbar">
        <div><img src="img\logo now.jpeg"height="50px" width="50px"/></div>
       <h2><b>Myblockchain</b></h2> 
       <div class="nav-items">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="https://github.com/Iamvarunking/my-blockchain" target="_blank">Github</a>
       </div>
     </div>

     <section id="vid-par">
    <video id= "my-vid"autoplay loop muted>
    <source type="video/mp4" src="img\video (2).mp4"/>
    </video>
    
    <div id ="vid-content">
        
         <h1>Add Data to Blockchain</h1>
         <br>
    

        <form action='/api/mine' method="post">
             <label for="data">Data:</label>
             <input type="text" id="data" name="data" style="width:80%; height:50px;">
             <br><br>
             <button class="button"><b>Click here to add</b> </button>
         </form>
        </div>
        <div class="footer"> 
           <p> Copyright © 2023 . All rights reserved AV CODERS</p>   
        </div>
</body>
</html>


    

    
	
	

